/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CAPS |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ALT  |
//                    | GUI | LWR | SPC |   | ENT | RSE  |SHFT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp CAPS  &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RALT
                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &kp RSHFT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | UP  | RWD | FWD |   |  /  |  7  |  8  |  9  |  *  | BKSP |
// | CAPS |     | LFT | DWN | RGT | PP  |   |  -  |  4  |  5  |  6  |  +  | ENTR |
// | CTRL |     |     |MUTE |VDOWN| VUP |   |  0  |  1  |  2  |  3  |  .  |  =   |
//                    | GUI |     | SPC |   | ENT |     | SHFT|
                        bindings = <
   &bt BT_CLR &bt BT_SEL 1 &bt BT_SEL 2 &kp UP     &kp C_PREV   &kp C_FF       &kp FSLH  &kp N7   &kp N8   &kp N9   &kp STAR &kp DEL
   &kp CAPS   &trans       &kp LEFT     &kp DOWN   &kp RIGHT    &kp C_PP       &kp MINUS &kp N2   &kp N5   &kp N6   &kp PLUS &kp RET
   &kp LCTRL  &trans       &trans       &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP   &kp N0    &kp N1   &kp N2   &kp N3   &kp DOT  &kp EQUAL
                                        &kp LGUI   &trans       &kp SPACE      &kp RET   &trans   &kp RSHFT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CAPS | F1  | F2  | F3  | F4  | F5  |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | CTRL | F6  | F7  | F8  | F9  | F10 | _ |  +  |  [  |  ]  |  \  |  ~  | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | SHFT|
                        bindings = <
   &kp ESC   &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp CAPS  &trans    &trans  &trans    &trans    &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp PIPE &kp GRAVE
   &kp LCTRL &trans    &trans  &trans    &trans    &trans      &trans    &trans    &trans          &trans   &kp BSLH &kp TILDE
                                   &kp LGUI &trans &kp SPACE   &kp RET   &trans    &kp RSHFT
                        >;
                };
        };
};
